*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    width: fit-content;
    display: flex;
    background-color: rgb(60, 93, 3);
    margin: auto;
    border-radius: 0px 0px 25px 25px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(237, 234, 224);
    transition: 0.4s;
    padding: 8px 16px;
    font-size: 20px;
    font-family: Cursive;
}
nav ul li a:hover{
    background-color: rgb(237, 234, 224);
    color: rgb(16, 14, 14);
}
.aa:hover{
    border-radius: 0px 0px 0px 25px;
}
.bb{
   border-radius: 0px 0px 25px 0px; 
}
